<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href='styles/base.css'>
  <title>Document</title>

</head>
<body>

 <h1>From Server</h1>
 <% let count = 0 %>
 <h3>Count: <%= info.length%></h3>
 <% info.forEach((select)=>{ %>
 </p><%= select.title %></p>
 </p><%= select.author %></p>
 </p><%= select.description %></p>
</p><%= select.isbn %></p>
<p><%=select.id %></p>
<!-- <img src= "<%= select.image %>"/> 
<form id ="<%= count %>" action='/details' method='get' class="bookform">
<input name="title" placeholder= "<%= select.title %>" value= "<%= select.title %>" >
<input name="authors" value="<%= select.author %>">
<input name="description" value="<%= select.description %>">
<input name="isbn" value="<%= select.isbn %>">
<input name='image' value= "<%= select.image %>" > 
</form>-->
 <button id="button" value ="<%= select.id %>" >more details</button>
<% count++ %>
    <% }); %>
    

</div> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="js/detail.js" ></script>
</body>
</html>